---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="info">Last Color Generated: <span id="lcg"></span> | Number of Colors Generated: <span id="ncg"></span></div>
		<slot />
	</body>
</html>
<style is:global>
	body {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		height: 100%;
		margin: 0;
	}
	  .info {
    position: sticky;
    top: 0;
    background-color: hsla(0, 0%, 50%, 0.5);
    width: 100%;
    padding-left: 25%;
    padding-right: 25%;
    z-index: 100; /* Ensure the info bar is above other content */
  }
	.color-box {
		width: 80px;
		height: 80px;
		margin: 5px;
		border: 1px solid #000;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		border-radius: 25px;
		text-shadow: 0px 0px 5px #fff;
	}
</style>